$font-color: #666666;
$bg-color: #f7f7f7;
$hairine-color: #eaeaea;
$button-bg: #fafafa;
$error-color: #c80000;
$footer-bg: white;

//
// Top Bar
//

h1#logo a {
  width: 4.52941176470588em;
  height: 2.64705882352941em;
  display: block;
  text-indent: -9999px;
  background: url('../images/logo.gif') no-repeat 0 0 scroll;
}

nav.top-bar {
  ul li > a { 
    font-size: 1em;
    @media only screen and (max-width: 40em) {
      font-size: 0.8125rem;
    }
  }

  .top-bar-section li:not(.has-form).active a:not(.button) {
    text-decoration: underline;
    &:hover { text-decoration: underline; }
  }

  .top-bar-section li:not(.has-form) a:not(.button) {
    &:hover { text-decoration: underline; }
  }

  .search {
    input {
      background-color: $button-bg;
      border: 0;
      box-shadow: none;
    }

    a.button {
      color: $font-color;
      background-color: $button-bg;
      border: 0;
      .fa.fa-search {
        position: relative;      
        left: -6px;
        top: -2px;
       }
    }
  }

  li.suitcase {
    background: none;
    > a.button {
      background: none;
      > span { padding-left: .5em; }
      &:hover { background: transparent; }
    }
  }

  .has-form { background: black; }

  // ZF Fixes for small
  @media only screen and (max-width: 40em) {

    height: 5.5625em;

    .toggle-topbar.menu-icon {
      position: absolute;
      left: -0.6875em;
      top: 50%;
      right: auto;
      margin-top: -1em;
    }

    .name { margin-left: 2.75em; }

    li.suitcase {
      position: absolute;
      top: -3em;
      right: 0;
      a.button { font-size: 1.25em; }
    }

    .top-bar-section ul.right > li { padding: .5em; }

    .search a.button {
      height: 2.33333333333333em;
      top: 0;
    }
  }
}


//
// Header
//

header {
  font-size: 40px;

  background: url('../images/background_photo.png') no-repeat 0 0 scroll;
  background-size: cover;
  background-position: center center;

  .hero {
    h1 {
      color: white;
      line-height: 1em;
      font-size: 60px;

      @media only screen { font-size: 1em; }
    }

    h2 {
      color: white;
      line-height: 1em;
      font-size: 30px;
      @media only screen { font-size: 0.5em; }
    }

    background-color: rgba(0, 0, 0, 0.45);
    padding: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

//
// Section Apply Form
//

section.apply-form {
  h2 {
    font-size: 1.875em;
    @media only screen and (max-width: 40em) { font-size: 1em; }
    margin-top: 1em;
  }

  i.fa { margin-right: 1em; }

  label[for='sendmecopy'] { margin-right: 0; }

  label {
    &.strong {
      font-weight: bold;
      margin-top: 2em;
      margin-bottom: 1em;
    }
  }

  textarea { height: 10em; }

  .required:after {
    content: "*";
    position: absolute;
    vertical-align: super;
    margin-left: 0.2em;
    font-size: 1.3em;
  }

  .row.footer {
    margin-top: 2.8125em;
    margin-bottom: 2.8125em;
  }
}

//
// Section Read More
//

section.readmore {
  .row {
    background: $bg-color;
    padding: 1em 1em 2.5em 1em;
  }

  h3 {
    padding-bottom: 1em;
  }

  a.send-us-email { text-decoration: underline; }

  background: url('../images/application_procedure_bg.png') no-repeat 0 0 scroll;
  background-size: cover;
  background-position: center center;
  padding-top: 4.0625em;
  padding-bottom: 4.0625em;

  @media only screen and (max-width: 40em) {
    padding: 2em 1em;
  }
}

//
// Footer
//

#back-to-top {
  position: absolute;
  right: 0;
  a {
    font-size: 10px;

    display: block;
    position: relative;
    top: -3.85227em;
    right: 0;    
    
    padding: 1.2em;
    width: 10em;
    text-align: center;
    background: $footer-bg;
  }
}

footer.footer {
  .row.container {
    ul li {
      font-size: 14px;
      margin-bottom: 0.625em;
      &.header {
        font-size: 0.83333333333333em;
        font-weight: bold;
        padding-bottom: 1em;
      }
    }

    i {
      font-size: 0.8em;
      display: inline-block;
      -moz-border-radius: 4em;
      -webkit-border-radius: 4em;
      border-radius: 4em;
      -moz-box-shadow: 0px 0px 2px black;
      -webkit-box-shadow: 0px 0px 2px balck;
      box-shadow: 0px 0px 2px black;
      padding: 0.4375em;
      margin-right: 0.5em;
      min-width: 1.875em;
      text-align: center;
    }

    margin-bottom: 3.75em;
    padding-top: 1.50000375000938em;
    padding-bottom: 1.885em;
    border-top: 1px solid $hairine-color;
  }

  background: $footer-bg;
  padding-top: 1.885em;
}

//
// Common stuff
//

body {
  button.small, .button.small {
    padding: 0.625em 1.25em 0.6875em 1.25em;
    font-size: 0.8125em;
  }
}

button.file-upload {
  position: relative;
  overflow: hidden;
  margin: 0;

  input.file-input {
    cursor: pointer;
    position: absolute;
    font-size: 0;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
  }
}

.no-padding-right { padding-right: 0 !important; }
.no-margin-bottom { margin-bottom: 0 !important; }

input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
  &.custom-error {
    border: 1px solid $error-color;
    margin-bottom: 0;
  }
}
