$font-color: #666666;
$font-color-inside: #a2a2a2;
$procedure-bg-color: #f5f5f5;

//
// Menu
//

h1#logo a {
  width: 4.52941176470588em;
  height: 2.64705882352941em;
  display: block;
  text-indent: -9999px;
  background: url('../images/logo.gif') no-repeat 0 0 scroll;
}

nav.top-bar {
  .search {
    input {
      border-right: 0;
    }
    a.button {
      color: $font-color;
      border: 1px solid rgb(198, 198, 198);
      border-left: 0;
      width: 2.142857143em;
      padding-left: 0.8em;
      margin: 0;
      background: #fafafa;
    }
  }
  .button.suitcase {
    background: transparent;
    span {
      padding-left: .5em;
    }
    &:hover {
      background: transparent;
    }
  }
}

//
// Header
//

header {
  color: white;
  font-size: 40px;

  background: url('../images/background_photo.png') no-repeat 0 0 scroll;
  background-size: cover;
  background-position: center center;

  .hero {
    h1 {
      color: white;
      line-height: 1em;
      font-size: 60px;
    }


    h2 {
      color: white;
      line-height: 1em;
      font-size: 30px;
    }
    background-color: rgba(0, 0, 0, 0.45);
    padding: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

//
// Section Apply Form
//

section.apply-form {
  i.fa {
    margin-right: 1em;
  }

  label[for='sendmecopy'] {
    margin-right: 0;
  }
}

//
// Section Read More
//

section.readmore {
  background: url('../images/application_procedure_bg.png') no-repeat 0 0 scroll;
  background-size: cover;
  background-position: center center;  
}

//
// Footer
//

footer.footer {
  ul li {
    font-size: 13px;
    margin-bottom: 0.625em;
  }
  background-color: white;
  margin-bottom: 3.75em;
  i {
    display: inline-block;
    -moz-border-radius: 4em;
    -webkit-border-radius: 4em;
    border-radius: 4em;
    -moz-box-shadow: 0px 0px 2px black;
    -webkit-box-shadow: 0px 0px 2px balck;
    box-shadow: 0px 0px 2px black;
    padding: 0.4375em;
    margin-right: 0.5em;
    min-width: 1.875em;
    text-align: center;
  }
}

//
// Custom stuff
//

button.file-upload {
  position: relative;
  overflow: hidden;
  margin: 0;

  input.file-input {
    cursor: pointer;
    position: absolute;
    font-size: 0;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;  }
}

.no-padding-right {
  padding-right: 0 !important;
}